@media screen and (max-width:1050px){
    .maindiv{
        margin-inline:120px;
}
}

@media screen and (max-width:850px){
    .maindiv{
        margin-inline:50px;
}
}

@media screen and (max-width:600px){
    .input-output input{
        width:40%;
        padding-inline:5px;
    }
}