*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image:url('istockphoto-1457820514-170667a.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}
.maindiv{
    text-align: center;
    margin-inline:200px;
    position:relative;
    margin-block:200px;
    background-color: #fff;
    border:1px solid green;
    box-shadow: 0 0 7px #000;
}
.top-heading{
    padding-block:10px;
    text-transform: capitalize;
    font-size: 1.5rem;
    background-color: rgb(240, 93, 93);
    color:#fff;
}
.input-output input{
    width:30%;
    text-align: center;
    padding:8px 25px;
    text-transform: capitalize;
    margin-block:20px;
    outline: none;

}
.input-output .btn button{
    padding:8px 50px;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: green;
    color:#fff;
    cursor: pointer;
    border:none;

}